<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a  href="/create">Add user</a>
      </div>
      <div class="form-add-new">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete user</legend>
                <div class="input-group d-none">
                    <label>Id: </label>
                    <input type="text" name="userId" value="<%=userEdit.id%>"/>
                </div>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email" value="<%=userEdit.email%>"/>
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name" value="<%=userEdit.name%>"/>
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city" value="<%=userEdit.city%>"/>
                </div>
                <div class="btn-save">
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>
      </div>
</body>
</html>